.hero {
  height: 700px;
  width: 100vw;
  background: #080808;
  display: flex;
  flex-direction: column;
  position: relative;
  background-image: url('../../assets/images/feature_orphanking.png');
  background-size: cover;
  background-position: center;
}

.fullsite {
  position: absolute;
  transform: rotate(-90deg);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 10px;
  left: -20px;
  bottom: 64px;
  color: white;
  opacity: 0.4;
}

@media (max-width: 600px) {
  .fullsite {
    bottom: 128px;
    left: -28px;
  }
}

.header {
  padding: 96px 96px 0;
  z-index: 1;
}

@media (max-width: 600px) {
  .header {
    width: 90%;
    padding: 48px 0;
    margin: 0 auto;
  }
}


.brand {
  float: left;
}

.brand p {
  color: white;
  opacity: .43;
  font-size: 14px;
  margin-top: 32px;
}

.social {
  float: right;
  margin: 0; 
  padding: 0;
}

.social li {
  margin-bottom: 16px;
  text-align: right;
}

.social a {
  color: white;
  text-decoration: none;
  letter-spacing: 8px;
  font-size: 11px;
}

.featured {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

}

@media (max-width: 600px) {
  .hero {
     height: 500px;  }

  .coverphoto{
    height: 400px;
  }

  .featured img {
    height: 100%;
  }
}


.featured img {
  width: 100%;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 5%;
  position: absolute;
  bottom:-116px;
  z-index: 1;
}

.artistBanner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 96px;
  align-items: center;
  padding: 0 32px;
  background: #1A1C24;
  cursor: pointer;
  position: relative;
}

.artistBanner:before {
  content: "";
  position: absolute;
  bottom:0px;
  left:6%;
  height: 48px;
  width: 88%;
  z-index: -2;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  box-shadow: 0 0 48px 0 #1B1C24, 0 0 32px 0 #1B1C24;
}

.artistBannerSubtext {
  padding-top: 24px;
}

.artistName {
  color: white;
  font-size: 24px;
}

.play {
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 22px solid white;
  transition: transform 100ms ease;
}

.play-active {
  transform: rotate(-90deg);
}





